<html>
<body>
<main>
    <form id="user-form" data-testid="user-form" method="post" action="/user">
        <label for="name">Name</label>
        <input name="name" id="name" required type="text" data-test-id="name-input"/>
        <label for="email">Email</label>
        <input name="email" id="email" required type="email" data-test-id="email-input"/>
        <label for="role">Role</label>
        <input name="role" id="role" type="text" data-test-id="role-input"/>
        <input type="submit" value="Submit" />
    </form>
</main>
</body>
</html>
